{extend name="base"/}
{block name="body"}

<body>
    <a class="btn btn-sm btn-success" href="{:url('add')}">添加</a>
    <form action="" method="get">
        <input type="text" placeholder="Search..." name="keywords" value="{:input('get.keywords')}">
        <button type="submit">搜索</button>
    </form>
    <table class="table" action="{:url('insert')}" method="post">
        <tr>
            <th>index</th>
            <th>num</th>
            <th>name</th>
            <th>sex</th>
            <th>email</th>
            <th>klass</th>
            <th>teacher</th>
            <th>createDate</th>
        </tr>
        {volist name="students" id="student" key="key"}
        <tr>
            <td>{$key}</td>
            <td>{$student->num}</td>
            <td>{$student->name}</td>
            <td>{$student->sex}</td>
            <td>{$student->email}</td>
            <td>{$student->Klass->name}</td>
            <td>{$student->Klass->User->name}</td>
            <td>{$student->create_time}</td>
        </tr>
        {/volist}
    </table>
    {:$students->render()}
</body>
{/block}
