<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
</head>
<body>
    <table action="{:url('insert')}" method="post">
        <tr>
            <th>index</th>
            <th>num</th>
            <th>name</th>
            <th>sex</th>
            <th>email</th>
            <th>klass</th>
            <th>teacher</th>
            <th>createDate</th>
        </tr>
        {volist name="students" id="student" key="key"}
            <tr>
                <td>{$key}</td>
                <td>{$student->num}</td>
                <td>{$student->name}</td>
                <td>{$student->sex}</td>
                <td>{$student->email}</td>
                <td>{$student->Klass->name}</td>
                <td>{$student->Klass->User->name}</td>
                <td>{$student->getData('create_time')}</td>
            </tr>
        {/volist}
    </table>
    {:$students->render()}
</body>
</html>